<html><head>
<title>Home</title>

</head>

  <body> 
  
<h2><center>Welcome to Weatheron </center></h2>
<h3> <center>Your weather record </center></h3>
<center><h3> The Time is </h3><p><%=@time %></p></h3></center>
<br></br>
<center><h3><a href="http://127.0.0.1:3000/records/new">Add New Record</a></h3></center>

<center><h3><a href="http://127.0.0.1:3000/records">View Records</a></h3></center>

<br> </br>
<center><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;
        hl=en&amp;geocode=&amp;q=aberdeen+uni+king+college&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.349227,93.076172&amp;
        ie=UTF8&amp;hq=aberdeen+uni+king+college&amp;hnear=&amp;radius=15000&amp;t=h&amp;ll=57.163971,-2.101524&amp;spn=0.071946,0.071946&amp;output=embed">
  
</iframe><br /><small>
<a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=aberdeen+uni+king+college&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.349227,93.076172&amp;ie=UTF8&amp;hq=aberdeen+uni+king+college&amp;hnear=&amp;radius=15000&amp;t=h&amp;ll=57.163971,-2.101524&amp;spn=0.071946,0.071946" style="color:#0000FF;text-align:left">View Larger Map</a></small>

</center>
</body>
</html